*
{
padding:0;
margin:0;
}
body{
    background-size:125%; 
    font-size:xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

header{
    background-color:aliceblue;
    height:5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:small;

}
img{
    image-resolution: 100px;;
    margin-left:50px;
    margin-top:50px;
    max-width:200%;
    max-height:100%;
}

.head-tag{
    float:right;
    margin-top:30px;
    margin-right:30px;

}
a{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    text-decoration:solid;
    color:black;
    background-color:cornflowerblue;
    padding: 1em 2em;
    text-transform: uppercase;
    text-size-adjust: 80%;
}

a:hover{
    background-color:bisque;
    color:black;
    transition:0.55 ease-in-out;
}